@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');


*
{
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.image-shadow
{
    filter: drop-shadow(5px 5px 5px black);
}

.position-animation
{
    animation: moving 5s 0s infinite linear;
}

@keyframes moving {
    0%{
        margin-left: -20%;
    }    
    25%{
        margin-left: 0;
    }
    50%{
        margin-left: 20%;
    }
    75%{
        margin-left: 0;
    }
    100%{
        margin-left: -20%;
    }
}


@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}